<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greyarea.grey.greyareaad340">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- The main/home activity (it has no parent activity) -->

        <activity android:name=".MainActivity"
            android:label="Greyarea AD340">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Children of the main activity -->
        <activity
            android:name=".TextBoxMsgSend"
            android:parentActivityName=".MainActivity"
            android:label="Message Sent"/>
        <activity
            android:name=".ShowMovies"
            android:parentActivityName=".MainActivity"
            android:label="Zombie Movies"
            />
        <activity
            android:name=".RecyclerAdapter"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".MovieDetails"
            android:parentActivityName=".ShowMovies"
            android:label="Zombie Movies Details"
            />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:label="About Greyarea"
            />

        <activity
            android:name=".WebcamClient"
            android:parentActivityName=".MainActivity"
            android:label="Live Cams"
            />


    </application>

</manifest>